html, body {
  background-color: #3b224c;
  color: #281733;
  font-family: "Raleway", sans-serif;
}

div {
  background: #3b224c;
  max-width: 640px;
  min-width: 320px;
  margin: 8em auto;
  border-radius: 1em;
}

section {
  color: #fff;
  top: -4em;
  position: relative;
  padding: 48px;
}

h1 {
  font-size: 3em;
  margin-top: 1rem;
}

h2 a {
  text-decoration:none;
  border-radius: 2px;
  line-height: 1em;
  color:#fff;
  font-weight:bold;
  /*background:#281733;*/
  padding:4px 0;
}

h2 a:hover {
  text-decoration:underline;
}

h5 {
  margin: -2em 0 0 0;
}

p {
  text-align: center;
}

hr {
  color: #333;
}

ul {
  list-style-type: none;
  margin: 2em 0 0 0;
  padding: 0;
  text-transform: lowercase;
}

ul li a {
  padding: 1em;
  display: block;
  color: #fff;
  text-decoration: none;
}

ul li a:hover {
  background: #281733;
}
